<ion-view view-title="Home">
  <ion-content>
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
    <h1 > <center> Welcome to the <font color="red">I</font><font color="blue">o</font><font color="yellow">C</font> <font color="green"> A</font>pp! </center> </h1>
    <div class="pad-box" >
    <p> <center> <font size="4"> IoC stands for Internet of Cars. </font> </center> </p>
    <p> <center> <font size="4"> IoC stands for Internet of Cars. Where in this network, the cars using our system are interconnected through
        the internet and share some data within themselves and to the users.</font> </center> </p>
    </div>
  </ion-content>
</ion-view>
