/* Empty. Add your own CSS if you like */
/*div {
   width: 150px;
   height: 150px;
}*/

.floating-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    
}

.pad-box {
   /* border: 1px solid #E3B430; 
    background-color: lightblue;*/
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.scroll{
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}